---
title: Research
subtitle: Columns template
---

{% extends "columns.j2" %}

{% block banner %}
<img src="media/images/LCO_banner.jpg">
<p>Sunrise at <a href=http://www.lco.cl> Las Campanas Observatory</a></p>
{% endblock banner %}

{% block content %}

### The Intergalactic Medium

Most of my research is on the [intergalactic
medium](http://uk.arxiv.org/abs/0711.3358), or IGM for short.  The
intergalactic medium is, as the name suggests, the stuff that is found
between galaxies.  Of the normal matter in the universe (baryonic
matter), only a small fraction is made up of stars and galaxies.  Most
of it is in the IGM in the form of gaseous hydrogen and helium.

Usually astronomers measure the electromagnetic radiation&#x2014;such as
light, radio waves or gamma rays&#x2014;coming from objects in the
universe. However, the IGM is dark and doesn't emit very much
radiation. The best way to detect it is by looking at its silhouette
against a bright background light source. The gas in the IGM can only
absorb light with particular wavelengths&#x2014;for example, hydrogen
only blocks light at ultraviolet rest wavelengths. By measuring the
pattern of absorption against the background light source, we can
deduce the kind of elements there must be in the IGM. We can also use
the shape of absorption profiles to measure how much gas there is, and
how fast it's moving around. Even very small amounts of gas produce
absorption profiles we can measure.  Using this technique we can
detect parts of the universe that cannot be measured in any other way.

The most common background light source we use is a
[quasar](http://adsabs.harvard.edu/abs/1967ARA%26A...5..399B), because
they are very bright, and emit light evenly over a wide range of
wavelengths. This means it's easy to see the absorption features from
the IGM superimposed on top of the quasar light. The figure below
shows a cartoon of a quasar acting as a light source (the bright blue
object on the right). Light from the quasar passes through the IGM
towards us. Below the cartoon is the spectrum of light from the quasar
that we measure on Earth, with many absorption features from the IGM
superimposed on the quasar's spectrum.

<img src='media/images/QSO_cartoon.jpg'>

The 'Lyman-&#x03B1; forest' as shown in the figure is caused by hydrogen
absorption. [Lyman-&#x03B1;](http://en.wikipedia.org/wiki/Lyman_series)
is the strongest absorption feature from hydrogen atoms. Due to the
expansion of the universe, the wavelength of light from the background
quasar is stretched (or redshifted) as it travels towards us. The
further the light travels, the more it is redshifted. Therefore we see
a 'forest' of lines, each at a different redshifted wavelength, each
caused by a hydrogen gas cloud in the IGM at a different distance from
the Earth.


<h3 id="publications"> Publications </h3>

Below is selection of my publications (as of September 2015). You can search
for a recent list using the ADS abstract service: [All](http://cdsads.u-strasbg.fr/cgi-bin/nph-abs_connect?db_key=AST&db_key=PRE&qform=AST&arxiv_sel=astro-ph&arxiv_sel=cond-mat&arxiv_sel=cs&arxiv_sel=gr-qc&arxiv_sel=hep-ex&arxiv_sel=hep-lat&arxiv_sel=hep-ph&arxiv_sel=hep-th&arxiv_sel=math&arxiv_sel=math-ph&arxiv_sel=nlin&arxiv_sel=nucl-ex&arxiv_sel=nucl-th&arxiv_sel=physics&arxiv_sel=quant-ph&arxiv_sel=q-bio&sim_query=YES&ned_query=YES&adsobj_query=YES&aut_logic=OR&obj_logic=OR&author=Crighton,+Neil.&object=&start_mon=&start_year=&end_mon=&end_year=&ttl_logic=OR&title=&txt_logic=OR&text=&nr_to_return=200&start_nr=1&jou_pick=ALL&ref_stems=&data_and=ALL&group_and=ALL&start_entry_day=&start_entry_mon=&start_entry_year=&end_entry_day=&end_entry_mon=&end_entry_year=&min_score=&sort=SCORE&data_type=SHORT&aut_syn=YES&ttl_syn=YES&txt_syn=YES&aut_wt=1.0&obj_wt=1.0&ttl_wt=0.3&txt_wt=3.0&aut_wgt=YES&obj_wgt=YES&ttl_wgt=YES&txt_wgt=YES&ttl_sco=YES&txt_sco=YES&version=1),
[Refereed](http://cdsads.u-strasbg.fr/cgi-bin/nph-abs_connect?db_key=AST&db_key=PRE&qform=AST&arxiv_sel=astro-ph&arxiv_sel=cond-mat&arxiv_sel=cs&arxiv_sel=gr-qc&arxiv_sel=hep-ex&arxiv_sel=hep-lat&arxiv_sel=hep-ph&arxiv_sel=hep-th&arxiv_sel=math&arxiv_sel=math-ph&arxiv_sel=nlin&arxiv_sel=nucl-ex&arxiv_sel=nucl-th&arxiv_sel=physics&arxiv_sel=quant-ph&arxiv_sel=q-bio&sim_query=YES&ned_query=YES&adsobj_query=YES&aut_logic=OR&obj_logic=OR&author=Crighton,+Neil&object=&start_mon=&start_year=&end_mon=&end_year=&ttl_logic=OR&title=&txt_logic=OR&text=&nr_to_return=200&start_nr=1&jou_pick=NO&ref_stems=&data_and=ALL&group_and=ALL&start_entry_day=&start_entry_mon=&start_entry_year=&end_entry_day=&end_entry_mon=&end_entry_year=&min_score=&sort=SCORE&data_type=SHORT&aut_syn=YES&ttl_syn=YES&txt_syn=YES&aut_wt=1.0&obj_wt=1.0&ttl_wt=0.3&txt_wt=3.0&aut_wgt=YES&obj_wgt=YES&ttl_wgt=YES&txt_wgt=YES&ttl_sco=YES&txt_sco=YES&version=1>).

My PhD thesis, 'Cosmology with Quasar Absorption Lines', is available [here](http://unsworks.unsw.edu.au/vital/access/manager/Repository/unsworks:1481).


<!-- #### Submitted -->

#### Metal-enriched, sub-kiloparsec gas clumps in the circumgalactic medium of a faint z = 2.5 galaxy
**Crighton, Neil H. M.**; Hennawi, Joseph F.; Simcoe, Robert A.; Cooksey, Kathy L.; Murphy, Michael T.; Fumagalli, Michele; Prochaska, J. Xavier; Shanks, Tom, submitted to MNRAS. [arXiv](http://arxiv.org/abs/1406.4239)

#### Metal-poor, Cool Gas in the Circumgalactic Medium of a z = 2.4 Star-forming Galaxy: Direct Evidence for Cold Accretion?
**Crighton, Neil H. M.**; Hennawi, Joseph F.; Prochaska, J. Xavier, 2013, ApJL, 776, 18. [ADS](http://adsabs.harvard.edu/abs/2013ApJ...776L..18C)

#### Astropy: A community Python package for astronomy
Astropy Collaboration; Robitaille, Thomas P.; Tollerud, Erik J.; Greenfield, Perry; Droettboom, Michael; Bray, Erik; Aldcroft, Tom; Davis, Matt; Ginsburg, Adam; Price-Whelan, Adrian M.; Kerzendorf, Wolfgang E.; Conley, Alexander; **Crighton, Neil**; Barbary, Kyle; Muna, Demitri; Ferguson, Henry; Grollier, Fr&eacute;d&eacute;ric; Parikh, and others, 2013, A&A, 558, 33. [ADS](http://adsabs.harvard.edu/abs/2013A%26A...558A..33A)

#### A high molecular fraction in a sub-damped absorber at z=0.56 
**Crighton, N. H. M.**; Bechtold, Jill; Carswell, Robert F.; Dav&eacute;,   Romeel; Foltz, Craig B.; Jannuzi, Buell T.; Morris, Simon L.; O'Meara, John M.; Prochaska, J. Xavier; Schaye, Joop; Tejos, Nicolas, 2013, MNRAS 433, 178. [ADS](http://adsabs.harvard.edu/abs/2013MNRAS.433..178C)

#### The VLT LBG Redshift Survey II. Interactions between galaxies and the IGM at z&asymp;3 
**Crighton, N. H. M.**; Bielby, R.; Shanks, T.;   Infante, L.; Bornancini, C. G.; Bouch&eacute;, N.; Lambas, D. G.;   Lowenthal, J. D.; Minniti, D.; Morris, S. L.; Padilla, N.; P&eacute;roux,   C.; Petitjean, P.; Theuns, T.; Tummuangpak, P.; Weilbacher, P. M.; Wisotzki, L.; Worseck, G., 2011, MNRAS, 414, 28: [ADS](http://adsabs.harvard.edu/abs/2011MNRAS.414...28C)

#### Galaxies at a redshift of &asymp;0.5 around three closely spaced quasar sightlines 
**Crighton, N. H. M.**; Morris, Simon L.; Bechtold, Jill; Crain, Robert A.; Jannuzi, Buell T.; Shone, Allen; Theuns, Tom, 2010, MNRAS, 402, 1273: [ADS](http://adsabs.harvard.edu/abs/2010MNRAS.402.1273C)

{% endblock content %}
