---
title: Research
subtitle: Columns template
---

{% extends "columns.j2" %}

{% block banner %}
<img src="media/images/LCO_banner.jpg">
<p>Sunrise at <a href=http://www.lco.cl> Las Campanas Observatory</a></p>
{% endblock banner %}

{% block content %}

### The Intergalactic Medium

Most of my research is on the [intergalactic
medium](http://uk.arxiv.org/abs/0711.3358), or IGM for short.  The
intergalactic medium is, as the name suggests, the stuff that is found
between galaxies.  Of the normal matter in the universe (baryonic
matter), only a small fraction is made up of stars and galaxies.  Most
of it is in the IGM in the form of gaseous hydrogen and helium.

Usually astronomers measure the electromagnetic radiation&#x2014;such as
light, radio waves or gamma rays&#x2014;coming from objects in the
universe. However, the IGM is dark and doesn't emit very much
radiation. The best way to detect it is by looking at its silhouette
against a bright background light source. The gas in the IGM can only
absorb light with particular wavelengths&#x2014;for example, hydrogen
only blocks light at ultraviolet rest wavelengths. By measuring the
pattern of absorption against the background light source, we can
deduce the kind of elements there must be in the IGM. We can also use
the shape of absorption profiles to measure how much gas there is, and
how fast it's moving around. Even very small amounts of gas produce
absorption profiles we can measure.  Using this technique we can
detect parts of the universe that cannot be measured in any other way.

The most common background light source we use is a
[quasar](http://adsabs.harvard.edu/abs/1967ARA%26A...5..399B), because
they are very bright, and emit light evenly over a wide range of
wavelengths. This means it's easy to see the absorption features from
the IGM superimposed on top of the quasar light. The figure below
shows a cartoon of a quasar acting as a light source (the bright blue
object on the right). Light from the quasar passes through the IGM
towards us. Below the cartoon is the spectrum of light from the quasar
that we measure on Earth, with many absorption features from the IGM
superimposed on the quasar's spectrum.

<img src='media/images/QSO_cartoon.jpg'>

The 'Lyman-&#x03B1; forest' as shown in the figure is caused by hydrogen
absorption. [Lyman-&#x03B1;](http://en.wikipedia.org/wiki/Lyman_series)
is the strongest absorption feature from hydrogen atoms. Due to the
expansion of the universe, the wavelength of light from the background
quasar is stretched (or redshifted) as it travels towards us. The
further the light travels, the more it is redshifted. Therefore we see
a 'forest' of lines, each at a different redshifted wavelength, each
caused by a hydrogen gas cloud in the IGM at a different distance from
the Earth.


<h3 id="publications"> Publications </h3>

Below is a list of my publications as of August 2014. You can search
for a more recent list using the ADS abstract service: [All](http://cdsads.u-strasbg.fr/cgi-bin/nph-abs_connect?db_key=AST&db_key=PRE&qform=AST&arxiv_sel=astro-ph&arxiv_sel=cond-mat&arxiv_sel=cs&arxiv_sel=gr-qc&arxiv_sel=hep-ex&arxiv_sel=hep-lat&arxiv_sel=hep-ph&arxiv_sel=hep-th&arxiv_sel=math&arxiv_sel=math-ph&arxiv_sel=nlin&arxiv_sel=nucl-ex&arxiv_sel=nucl-th&arxiv_sel=physics&arxiv_sel=quant-ph&arxiv_sel=q-bio&sim_query=YES&ned_query=YES&adsobj_query=YES&aut_logic=OR&obj_logic=OR&author=Crighton,+Neil.&object=&start_mon=&start_year=&end_mon=&end_year=&ttl_logic=OR&title=&txt_logic=OR&text=&nr_to_return=200&start_nr=1&jou_pick=ALL&ref_stems=&data_and=ALL&group_and=ALL&start_entry_day=&start_entry_mon=&start_entry_year=&end_entry_day=&end_entry_mon=&end_entry_year=&min_score=&sort=SCORE&data_type=SHORT&aut_syn=YES&ttl_syn=YES&txt_syn=YES&aut_wt=1.0&obj_wt=1.0&ttl_wt=0.3&txt_wt=3.0&aut_wgt=YES&obj_wgt=YES&ttl_wgt=YES&txt_wgt=YES&ttl_sco=YES&txt_sco=YES&version=1),
[Refereed](http://cdsads.u-strasbg.fr/cgi-bin/nph-abs_connect?db_key=AST&db_key=PRE&qform=AST&arxiv_sel=astro-ph&arxiv_sel=cond-mat&arxiv_sel=cs&arxiv_sel=gr-qc&arxiv_sel=hep-ex&arxiv_sel=hep-lat&arxiv_sel=hep-ph&arxiv_sel=hep-th&arxiv_sel=math&arxiv_sel=math-ph&arxiv_sel=nlin&arxiv_sel=nucl-ex&arxiv_sel=nucl-th&arxiv_sel=physics&arxiv_sel=quant-ph&arxiv_sel=q-bio&sim_query=YES&ned_query=YES&adsobj_query=YES&aut_logic=OR&obj_logic=OR&author=Crighton,+Neil&object=&start_mon=&start_year=&end_mon=&end_year=&ttl_logic=OR&title=&txt_logic=OR&text=&nr_to_return=200&start_nr=1&jou_pick=NO&ref_stems=&data_and=ALL&group_and=ALL&start_entry_day=&start_entry_mon=&start_entry_year=&end_entry_day=&end_entry_mon=&end_entry_year=&min_score=&sort=SCORE&data_type=SHORT&aut_syn=YES&ttl_syn=YES&txt_syn=YES&aut_wt=1.0&obj_wt=1.0&ttl_wt=0.3&txt_wt=3.0&aut_wgt=YES&obj_wgt=YES&ttl_wgt=YES&txt_wgt=YES&ttl_sco=YES&txt_sco=YES&version=1>).

My PhD thesis, 'Cosmology with Quasar Absorption Lines', is available [here](http://unsworks.unsw.edu.au/vital/access/manager/Repository/unsworks:1481).


#### Submitted

  - *"Metal-enriched, sub-kiloparsec gas clumps in the circumgalactic
  medium of a faint z = 2.5 galaxy"* **Crighton, Neil H. M.**;
  Hennawi, Joseph F.; Simcoe, Robert A.; Cooksey, Kathy L.; Murphy,
  Michael T.; Fumagalli, Michele; Prochaska, J. Xavier; Shanks, Tom,
  submitted to MNRAS. [arXiv](http://arxiv.org/abs/1406.4239)

#### Refereed

 - *"The VLT LBG Redshift Survey - IV. Gas and galaxies at z~3 in observations and simulations"*: Tummuangpak, P.; Shanks, T.; Bielby, R.; **Crighton, N. H. M.**; Francke, H.; Infante, L.; Theuns, T., 2014, MNRAS, 442, 2094. [ADS](http://adsabs.harvard.edu/abs/2014MNRAS.442.2094T)

 - *"Probing the Circumgalactic Medium at High-Redshift Using Composite BOSS Spectra of Strong Lyman-alpha Forest Absorbers"*: Pieri, Matthew M.; Mortonson, Michael J.; Frank, Stephan; **Crighton, Neil**; Weinberg, David H.; Lee, Khee-Gan; Noterdaeme, Pasquier; and others, 2014, MNRAS, 441, 1718. [ADS](http://adsabs.harvard.edu/abs/2014MNRAS.441.1718P)

 - *"A compact, metal-rich, kpc-scale outflow in FBQS J0209-0438: detailed diagnostics from HST/COS extreme UV observations"*: Finn, Charles W.; Morris, Simon L.; **Crighton, Neil H. M.**; Hamann, Fred; Done, Chris; Theuns, Tom; Fumagalli, Michele; Tejos, Nicolas; Worseck, Gabor, 2014, MNRAS, 440, 3317. [ADS](http://adsabs.harvard.edu/abs/2014MNRAS.440.3317F)

 - *"On the connection between the intergalactic medium and galaxies: The HI-galaxy cross-correlation at z < 1"*: Tejos, Nicolas; Morris, Simon L.; Finn, Charles W.; **Crighton, Neil H. M.**; Bechtold, Jill; Jannuzi, Buell T.; Schaye, Joop; Theuns, Tom; Altay, Gabriel; Le Fevre, Olivier; Ryan-Weber, Emma; Dave, Romeel, 2014, MNRAS, 437, 2017. [ADS](http://adsabs.harvard.edu/abs/2014MNRAS.437.2017T)

 - *"Metal-poor, Cool Gas in the Circumgalactic Medium of a z = 2.4 Star-forming Galaxy: Direct Evidence for Cold Accretion?"*: **Crighton, Neil H. M.**; Hennawi, Joseph F.; Prochaska, J. Xavier, 2013, ApJL, 776, 18. [ADS](http://adsabs.harvard.edu/abs/2013ApJ...776L..18C)

 - *"Astropy: A community Python package for astronomy"*: Astropy Collaboration; Robitaille, Thomas P.; Tollerud, Erik J.; Greenfield, Perry; Droettboom, Michael; Bray, Erik; Aldcroft, Tom; Davis, Matt; Ginsburg, Adam; Price-Whelan, Adrian M.; Kerzendorf, Wolfgang E.; Conley, Alexander; **Crighton, Neil**; Barbary, Kyle; Muna, Demitri; Ferguson, Henry; Grollier, Fr&eacute;d&eacute;ric; Parikh, and others, 2013, A&A, 558, 33. [ADS](http://adsabs.harvard.edu/abs/2013A%26A...558A..33A)

 - *"A high molecular fraction in a sub-damped absorber at z=0.56"*:   **Crighton, N. H. M.**; Bechtold, Jill; Carswell, Robert F.; Dav&eacute;,   Romeel; Foltz, Craig B.; Jannuzi, Buell T.; Morris, Simon L.;   O'Meara, John M.; Prochaska, J. Xavier; Schaye, Joop; Tejos, Nicolas, 2013, MNRAS 433, 178. [ADS](http://adsabs.harvard.edu/abs/2013MNRAS.433..178C)

 - *"The VLT LBG Redshift Survey - III. The clustering and dynamics of Lyman-break galaxies at z=3"*: Bielby, R.; Hill, M. D.; Shanks, T.; **Crighton, N. H. M.**; Infante, L.; Bornancini, C. G.; Francke, H.; H&eacute;raudeau, P.; Lambas, D. G.; Metcalfe, N.; Minniti, D.; Padilla, N.; Theuns, T.; Tummuangpak, P.; Weilbacher, P., 2013, MNRAS, 430, 425. [ADS](http://adsabs.harvard.edu/abs/2013MNRAS.430..425B)

 - *"Large-scale structure in absorption: gas within and around galaxy   voids"*: Tejos, Nicolas; Morris, Simon L.; **Crighton, N. H. M.**;   Theuns, Tom; Altay, Gabriel; Finn, Charles W., 2012, MNRAS,   425, 245. [ADS](http://adsabs.harvard.edu/abs/2012MNRAS.425..245T)    

 - *"Through Thick and Thin&#x2014;H I Absorption in Cosmological Simulations"*: Altay, Gabriel; Theuns, Tom; Schaye, Joop;   **Crighton, N. H. M.**; Dalla Vecchia, Claudio, ApJL, 2011, 737,   37: [ADS](http://adsabs.harvard.edu/abs/2011ApJ...737L..37A)

 - *"The VLT LBG Redshift Survey II. Interactions between galaxies and   the IGM at z~3"*: **Crighton, N. H. M.**; Bielby, R.; Shanks, T.;   Infante, L.; Bornancini, C. G.; Bouch&eacute;, N.; Lambas, D. G.;   Lowenthal, J. D.; Minniti, D.; Morris, S. L.; Padilla, N.; P&eacute;roux,   C.; Petitjean, P.; Theuns, T.; Tummuangpak, P.; Weilbacher, P. M.; Wisotzki, L.; Worseck, G., 2011, MNRAS, 414, 28: [ADS](http://adsabs.harvard.edu/abs/2011MNRAS.414...28C)

 - *"The VLT LBG Redshift Survey - I. Clustering and dynamics of ~1000   galaxies at z~3"*: Bielby, R. M.; Shanks, T.; Weilbacher, P. M.;   Infante, L.; **Crighton, N. H. M.**; Bornancini, C.; Bouch&eacute;, N.;   H&eacute;raudeau, P.; Lambas, D. G.; Lowenthal, J.; Minniti, D.; Padilla,   N.; Petitjean, P.; Theuns, T., 2011, MNRAS, 414, 2: [ADS](http://adsabs.harvard.edu/abs/2011MNRAS.414....2B)

 - *"The association between gas and galaxies - III. The   cross-correlation of galaxies and Ly&alpha; absorbers at z ~ 1"*: Shone,   Allen M.; Morris, Simon L.; **Crighton, N. H. M.**; Wilman,   Richard J., 2010, MNRAS 402, 252: [ADS](http://adsabs.harvard.edu/abs/2010MNRAS.402.2520S)

 - *"Galaxies at a redshift of ~0.5 around three closely spaced quasar sightlines"* **Crighton, N. H. M.**; Morris, Simon L.; Bechtold, Jill; Crain, Robert A.; Jannuzi, Buell T.; Shone, Allen; Theuns, Tom, 2010, MNRAS, 402, 1273: [ADS](http://adsabs.harvard.edu/abs/2010MNRAS.402.1273C)

 - *"A search for propylene oxide and glycine in Sagittarius B2 (LMH) and Orion"*: Cunningham, M. R.; Jones, P. A.; Godfrey, P. D.;   Cragg, D. M.; and others, including **Crighton, N. H. M.**, 2007, MNRAS, 376, 1201: [ADS](http://adsabs.harvard.edu/abs/2007MNRAS.376.1201C)

 - *"A CH3CN and HCO+ survey towards southern methanol masers   associated with star formation"*, Purcell, C. R.; Balasubramanyam,   R.; Burton, M. G.; Walsh, A. J.; Minier, V.;   Hunt-Cunningham, M. R.; Kedziora-Chudczer, L. L.; Longmore, S. N.;   Hill, T.; and others, including **Crighton,  N. H. M.**,  2006, MNRAS, 367, 553: [ADS](http://adsabs.harvard.edu/abs/2006MNRAS.367..553P)

 - *"Deuterium/hydrogen in a new Lyman limit absorption system at   z=3.256 towards PKS1937-1009"*: **Crighton, N. H. M.**; Webb, J. K.;   Ortiz-Gil, A.; Fern&aacute;ndez-Soto, A., 2004, MNRAS, 355, 1042: [ADS](http://adsabs.harvard.edu/abs/2004MNRAS.355.1042C)

 - *"The deuterium abundance in the z=0.7 absorber towards QSO   PG1718+4807"*: **Crighton, N. H. M.**; Webb, J. K.; Carswell, R. F.;   Lanzetta, K. M., 2003, MNRAS, 345, 243: [ADS](http://adsabs.harvard.edu/abs/2003MNRAS.345..243C)


### Selected Talks

**2013** 

   * Talk at ESO in Santiago.

**2012** 

   * Seminar at UC Santa Cruz on *The Cosmic Web in 3-d: The Galaxy Distribution Around Three Close QSO Sight-lines*. 
   * Several talks at MPIA, Heidelberg. 

**2011** 

   * Several talks at MPIA, Heidelberg.

**2010** 

   * Invited talk at the ["Detection of galaxies in absorption"](http://www.oamp.fr/people/peroux/GOTOQ.html) workshop on the *VIMOS/AAOmega survey for LBGs & QSOs at z~3*.
   * Talk at the [Moriond Cosmology conference](http://moriond.in2p3.fr/J10/schedule2010.html) on *Measuring the BAO acoustic peak in the Lyman-alpha forest*.
   * Talk at MPIA, Heidelberg on *Gas around galaxies at z~0.5 and z~3*.

**2009** 

   * Seminar at the Department of Astronomy and Astrophysics at Chicago, University of Chicago on *The Intergalactic Medium around Galaxies at z ~ 1 and z ~ 3*.
   * Talk at the [Durham-Edinburgh Extragalactic workshop VI](http://www.dur.ac.uk/j.r.mullaney/DEX/schedule.php) on *The Intergalactic Medium near Lyman Break galaxies at z = 3*.
   * Talk at the NOAO on *The Cosmic Web in 3-D: The Galaxy Distribution Around Three Close QSO Sightlines*. 

**2008** 

  - Talk at ["Science with the new Hubble Space Telescope"](http://www.iasfbo.inaf.it/events/bawhst/programme.php) in Bologna, on *The association between gas and galaxies*.

**2007** 

  - Seminar at the Durham Insitute of Computational Cosmology on *The association between QSO absorbers and galaxies at z ~ 0.5 and z = 1*.

**2003** 

 - Talk at 25th IAU international assembly joint discussion 15: *The deuterium  abundance in a new absorber towards QSO 1937-1009*.

**2002** 
  
  - ASA annual conference: Talk on *The deuterium abundance in low redshift quasar absorbers*.

{% endblock content %}
